@media (min-width: 49px) {
    .loading-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        background-color: #f5f5f5;
    }

    .language-flag {
        width: 35px;
        height: 35px;
    }

    .language-flag:hover {
        cursor: pointer;
        opacity: 0.7;
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
    }

    .p-button-text.p-button-plain {
        outline:#FFFFFF;
    }

    .p-button-rounded.p-mr-2 {
        margin-right: 20px;
    }

    .icons-color {
        background-color: #6866FA;
        outline-color: black;
    }

    body, html {
        margin: 0;
        padding: 0;
        background-color: #e9e6e6;
    }

    .title {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .nav-link {
        text-decoration: none;
        color: inherit;
    }

    .nav-link:visited {
        color: inherit;
    }

    .active-link {
        border-bottom: 2px solid blue;
        border-radius: 5px;
    }
}